---
import { getCollection, render } from "astro:content";
import ContentLayout from "../../layouts/ContentLayout.astro";
import PostMeta from "../../components/PostMeta.astro";
import "../../prose.css";

export async function getStaticPaths() {
  const posts = await getCollection("writing");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const { data } = post;
---

<ContentLayout
  title={data.title}
  heading={data.title}
  width="3xl"
  description={data.excerpt}
  type="article"
  publishedTime={data.publishDate}
>
  <PostMeta category={data.category} publishDate={data.publishDate} />

  <div class="accent-bar my-6" aria-hidden="true"></div>

  <article class="prose max-w-none">
    <Content />
  </article>
</ContentLayout>
